<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pendientes}}</strong> Items pendientes</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li  (click)="cambiarFiltro(item)" *ngFor="let item of filtrosValidos">
        <a [ngClass]="{ 'selected': item === filtroActual}" 
          class="" 
          href="#/"
          >{{ item}}</a>
      </li> 
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button (click)="borrarTodo()" class="clear-completed">Borrar todo</button>
  </footer>